.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 104px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-text-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  text-align: center;
  color: #c7c7c7;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  color: #e7b10a;
  word-break: break-all;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 18px;
  }
}

.contact-icon {
  min-width: 26px;
}
