.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
    max-width: 528px;
    margin-left: auto;
  }
}

.gameplay-title {
  text-align: left;

  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  color: #c7c7c7;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.gameplay-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  @include media(desktop) {
  }
}

.gameplay-item-number {
  border: 1px solid #a5a5a5;
  border-radius: 1000px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: 40px;
  height: 38px;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.28;
  color: #c7c7c7;

  @include media(desktop) {
  }
}
