.header {
  background: transparent;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 12px 0;
  }
}

.header-container {
  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  backdrop-filter: blur(16px);
  background: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.nav-list-link {
  border: 1px solid transparent;
  padding: 7px 11px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #f7e1ae;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #e7b10a;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  fill: #dfdfdf;
}

.close-icon {
  fill: #dfdfdf;
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
