.mechanics-section {
  @include media(desktop) {
  }
}

.mechanics-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
  }
}

.mechanics-container {
  @include media(desktop) {
  }
}

.mechanics-title {
  @include media(desktop) {
  }
}

.mechanics-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  text-align: center;
  color: #c7c7c7;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

.mechanics-content-wrapper {
  @include media(desktop) {
  }
}

.mechanics-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.mechanics-list-item {
  backdrop-filter: blur(16px);
  background: rgba(0, 1, 5, 0.45);
  border: 1px solid #525252;
  border-radius: 16px;
  padding: 39px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
    padding: 55px 23px;
    max-width: 248px;
  }
}

.mechanics-icon {
  @include media(desktop) {
  }
}

.mechanics-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  text-align: center;
  color: #c7c7c7;

  @include media(desktop) {
    font-size: 18px;
  }
}
