<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">About the Game</h2>
        <picture>
          <source
            srcset="./img/about/line-desk.png"
            media="(min-width: 1440px)"
            width="409"
            height="2" />
          <source srcset="./img/about/line-mob.png" width="343" height="2" />
          <img
            class="line-img"
            src="./img/about/line-mob.png"
            alt="Line"
            width="343"
            height="2"
        /></picture>
        <p class="about-text">
          Softframe is a perspective-based puzzle experience where players
          manipulate layered visual frames to restore hidden compositions. Each
          level gets trickier by adding more layers and making the frames even
          more out of whack, so you really have to think about how everything
          fits together in 3D space.
        </p>
      </div>
    </div>
  </div>
</section>
