<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">Features</h2>
          <picture>
            <source
              srcset="./img/about/line-desk.png"
              media="(min-width: 1440px)"
              width="409"
              height="2" />
            <source srcset="./img/about/line-mob.png" width="343" height="2" />
            <img
              class="line-img"
              src="./img/about/line-mob.png"
              alt="Line"
              width="343"
              height="2"
          /></picture>
          <p class="features-text">
            The main thing is keeping everything clear and precise, but not
            overwhelming - we want players to feel relaxed while they're
            figuring things out.
          </p>
          <ul class="features-list">
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="features-item-text">Perspective-based puzzle system</p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="features-item-text">Minimal interface design</p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="features-item-text">
                Layered frame alignment mechanics
              </p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="features-item-text">
                Abstract and soft color compositions
              </p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="features-item-text">Increasing visual complexity</p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="features-item-text">
                Replayable levels for perfect alignment
              </p>
            </li>
          </ul>
        </div>
        <div class="features-img-wrapper">
          <picture>
            <source
              srcset="./img/features/features-img1-desk.png"
              media="(min-width: 1440px)"
              width="252"
              height="348" />
            <source
              srcset="./img/features/features-img1-mob.png"
              width="159"
              height="251" />
            <img
              class="features-img"
              src="./img/features/features-img1-mob.png"
              alt="Screenshot of the game"
              width="159"
              height="251"
              loading="lazy"
          /></picture>
          <picture>
            <source
              srcset="./img/features/features-img2-desk.png"
              media="(min-width: 1440px)"
              width="252"
              height="348" />
            <source
              srcset="./img/features/features-img2-mob.png"
              width="159"
              height="251" />
            <img
              class="features-img"
              src="./img/features/features-img2-mob.png"
              alt="Screenshot of the game"
              width="159"
              height="251"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
