<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">How to Play</h2>
          <picture>
            <source
              srcset="./img/about/line-desk.png"
              media="(min-width: 1440px)"
              width="409"
              height="2" />
            <source srcset="./img/about/line-mob.png" width="343" height="2" />
            <img
              class="line-img"
              src="./img/about/line-mob.png"
              alt="Line"
              width="343"
              height="2"
          /></picture>
          <p class="gameplay-text">
            Players should be able to just dive in without a steep learning
            curve, and it should feel more like a zen moment than a frantic
            puzzle rush.
          </p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">01</p>
              <p class="gameplay-item-text">Observe fragmented frames</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">02</p>
              <p class="gameplay-item-text">
                Identify how visual elements connect
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">03</p>
              <p class="gameplay-item-text">
                Drag and adjust frames into position
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">04</p>
              <p class="gameplay-item-text">Align edges and shapes correctly</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">05</p>
              <p class="gameplay-item-text">
                Complete the image to unlock the next level
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
