<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Softframe</h1>
          <p class="hero-text">
            Perception is the puzzle. Step into a world of handcrafted paper
            layers where light and shadow play. Align the fragmented silhouettes
            to restore the hidden story and find your moment of absolute calm in
            the heart of the golden glow.
          </p>
          <svg class="hero-icon" width="16" height="24">
            <use href="./img/sprite.svg#icon-mouse"></use>
          </svg>
          <p class="hero-subtitle">Perception is the puzzle.</p>
        </div>
      </div>
    </div>
  </div>
</section>
