<section class="section mechanics-section" id="mechanics">
  <div class="mechanics-bg-wrapper">
    <div class="container mechanics-container">
      <div class="mechanics-content-wrapper">
        <h2 class="section-title">Core Mechanics</h2>
        <picture>
          <source
            srcset="./img/about/line-desk.png"
            media="(min-width: 1440px)"
            width="409"
            height="2" />
          <source srcset="./img/about/line-mob.png" width="343" height="2" />
          <img
            class="line-img"
            src="./img/about/line-mob.png"
            alt="Line"
            width="343"
            height="2"
        /></picture>
        <p class="mechanics-subtitle">
          Progression introduces multi-layer overlaps and moving frame elements.
        </p>
        <ul class="mechanics-list">
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-mechanics1"></use>
            </svg>
            <p class="mechanics-item-text">
              Drag frames to align visual fragments
            </p>
          </li>
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-mechanics2"></use>
            </svg>
            <p class="mechanics-item-text">
              Adjust scale and rotation within set limits
            </p>
          </li>
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-mechanics3"></use>
            </svg>
            <p class="mechanics-item-text">
              Layer frames in correct depth order
            </p>
          </li>
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-mechanics4"></use>
            </svg>
            <p class="mechanics-item-text">Reveal the completed composition</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
